.challenge-info-title {
  text-align: center;
  font-size: 24px;
}

.challenge-info-text {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4px;
  padding-top: 10px;

  .challenge-info-value {
    font-weight: 600;
  }
}
