@use '../../../styles/mixins' as *;

.header {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.content {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.text {
	display: none;

	@include respond-to(md) {
		display: block;
	}
}
