@use '../../styles/mixins' as *;

.cards {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;

	@include respond-to(md) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.modal {
	width: 90%;

	@include respond-to(md) {
		width: 37.5rem;
	}
}

.dateRange {
	text-align: center;
	font-size: 1.1rem;
	padding-bottom: 1.25rem;
}
