.friend-item {
	display: flex;
	justify-content: space-between;
	gap: 30px;

	.friend-item__info {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
	}
}

.friend-item__username {
	font-size: 1.05rem;
}

.friend-item__status {
	font-size: 0.9rem;
	color: var(--secondary-color);
}

.friend-item__actions {
	position: relative;
}

.friend-item__menu {
	position: absolute;
	right: 0;
	background-color: var(--dropdown-bg);
	z-index: 100;
	padding: 4px;
	border-radius: 8px;
	min-width: 150px;
	top: 100%;

	&--up {
		top: auto;
		bottom: 100%;
	}
}

.friend-item__menu-item {
	text-align: start;
	justify-content: start;
	padding: 12px 6px;
}
