.content {
	max-width: 500px;
}

.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.image {
	user-select: none;
}

.footer {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
	align-items: center;
}

.text {
	font-size: 1.1rem;
}
