.modalContainer {
	max-width: 500px;
}

.modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.image {
	user-select: none;
}

.buttons {
	display: flex;
	gap: 10px;
}

.text {
	font-size: 1.1rem;
}
