.report-user-sanctions__header {
	display: inline-flex;
	align-items: center;
	gap: 10px;
}

.report-user-sanctions__user {
	display: inline-flex;
	gap: 3px;
}

.report-user-sanctions__item {
	display: flex;
	flex-direction: column;
	gap: 3px;
	padding: 10px 0;
}
