.header {
	display: inline-flex;
	align-items: center;
	gap: 0.625rem;
}

.user {
	display: inline-flex;
	gap: 0.1875rem;
}

.item {
	display: flex;
	flex-direction: column;
	gap: 0.1875rem;
	padding: 0.625rem 0;
}
