.faq-item {
	background-color: var(--faq-question-bg);
	border-radius: 12px;
	overflow: hidden;
}

.faq-item__question {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
	align-items: center;
	font-size: 1.1rem;
	font-weight: 600;
	padding: 20px 13px;
	cursor: pointer;
	transition: padding-bottom 0.35s ease-in-out;

	&--active {
		.faq-item__question-icon {
			transform: rotate(180deg);
		}
	}
}

.faq-item__answer-container {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.35s ease-in-out;
	padding: 0 13px;

	&--open {
		grid-template-rows: 1fr;

		.faq-item__answer-content {
			padding-top: 15px;
			padding-bottom: 20px;
			opacity: 1;
		}
	}
}

.faq-item__answer-content {
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;

	opacity: 0;
	font-size: 1rem;
	transition: padding-top 0.35s ease, padding-bottom 0.35s ease,
		opacity 0.2s ease-in;
}
