.translations {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px;
}

.item {
	display: flex;
	gap: 16px;
	flex-direction: row;
	align-items: center;
}

.fields {
	display: flex;
	gap: 8px;
	flex-direction: column;
	flex: 1;
}
