.modal-buttons {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-top: 20px;
}

.challenge-control-container {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  width: 350px;

  @media screen and (max-width: 400px) {
    width: 100%;
  }
}
