@use '../../../../styles/mixins' as *;

.item {
	padding: 8px 16px;
	cursor: pointer;
	transition: background-color 0.2s ease;
	position: relative;
	outline: none;

	&:focus {
		background-color: var(--bg-option-hover);
	}

	@include hover {
		&:hover {
			background-color: var(--bg-option-hover);
		}
	}

	&[data-selected] {
		&::after {
			content: '';
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: var(--color-main-text);
			right: 16px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
