@use '../../../../styles/mixins' as *;

.wrapper {
	flex-direction: column !important;
	display: flex !important;
	align-items: start !important;

	@include respond-to(md) {
		flex-direction: row !important;
		align-items: center !important;
	}
}
