@use '../../../../styles/mixins' as *;

.modal {
	max-width: 100%;
	width: 90%;

	@include respond-to(md) {
		max-width: 25rem;
	}
}

.body {
	display: flex;
	justify-content: center;
	align-items: center;
}
