.button {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: -0.1875rem;
		right: -0.1875rem;
		width: 0.75rem;
		height: 0.75rem;
		background-color: red;
		border-radius: 50%;
		display: none;
	}

	&.unread::after {
		display: block;
	}
}
