.button {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: -3px;
		right: -3px;
		width: 12px;
		height: 12px;
		background-color: red;
		border-radius: 50%;
		display: none;
	}

	&.unread::after {
		display: block;
	}
}
