@use '../../styles/mixins' as *;

.confirmModal {
	width: 90%;
	display: flex;
	flex-direction: column;
	gap: 0.625rem;

	@include respond-to(md) {
		width: 31.25rem;
	}
}

.footer {
	display: flex;
	flex-direction: row;
	gap: 1.25rem;
	justify-content: end;
	margin-top: 1.25rem;
}
