html.dark {
	/* General Colors */
	--bg-body: #0a0a0a;
	--bg-header: #0b0b0b;
	--header-border-color: #7a7a7a30;
	--color-main-text: #ffffff;

	/* Navigation */
	--nav-color-link: #ede6e3;
	--nav-color-link-active: #c6c7c4;
	--nav-color-link-hover: #71a2b6;
	--nav-bg-menu: #161616;
	--nav-button-bg: #dfdfdf;

	/* Profile */
	--profile-stat-card-bg: #151515;
	--profile-stat-card-border: #333;

	/* Sections */
	--bg-section: #333;

	/* Report status */
	--bg-report-pending: #a3c1e3;
	--bg-report-in-progress: #598dd6;
	--bg-report-approved: #5ab66d;
	--bg-report-rejected: #e3c5c3;
}
