:root {
	/* General Colors */
	--bg-body: #ffffff;
	--bg-header: #ffffff;
	--header-border-color: #e5e8eb;
	--secondary-color: #464f58;
	--header-height: 3.75rem;
	--border-color: #e1e1e1;
	--sidebar-width: 17.5rem;

	/* Navigation */
	--nav-color-link: #000;
	--nav-color-link-active: #0353a4;
	--nav-color-link-hover: #0353a4;
	--nav-bg-menu: #ececec;
	--nav-button-bg: #000;

	/* Profile */
	--profile-stat-card-bg: #f8f8f8;
	--profile-stat-card-border: #e1e1e1;

	/* Sections */
	--bg-section: #e1e1e1;
	--color-section: #000000;

	/* Report status */
	--bg-report-pending: #a3c1e3;
	--bg-report-in-progress: #598dd6;
	--bg-report-approved: #5ab66d;
	--bg-report-rejected: #e3c5c3;
}
