@use '../../../styles/mixins' as *;

.addFriend {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
	background-color: var(--friend-add-bg);
	padding: 0.625rem;
	border-radius: 12px;

	@include respond-to(md) {
		padding: 0.625rem 1.25rem;
	}
}
