@use '../../../styles/mixins' as *;

.addFriend {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: var(--friend-add-bg);
	padding: 10px;
	border-radius: 12px;

	@include respond-to(md) {
		padding: 10px 20px;
	}
}

.titleContainer {
	padding: 10px 0;
}
