@use '../../../styles/mixins' as *;

.add-friend {
	display: flex;
	flex-direction: column;
	gap: 10px;
}	

.add-friend__title-container {
	padding: 10px 0;
}

.add-friend__input-container {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.add-friend__btn {
		width: 100%;
	}

	@include response(md) {
		flex-direction: row;

		.add-friend__btn {
			width: unset;
		}
	}
}
