@use '../../../../styles/mixins' as *;

.container {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--gap);

	@include respond-to(xl) {
		grid-template-columns: 1fr minmax(0, 300px);
	}

	.details,
	.prize {
		gap: var(--gap);
		display: flex;
		flex-direction: column;
	}
}
