.field {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	padding: 0.5rem 0;
}

.error {
	color: var(--color-error);
	font-size: 0.925rem;
	padding-left: 0.5rem;

	&.disabled {
		opacity: 0.6;
		pointer-events: none;
	}
}
