@use '../../styles/mixins' as *;

.grid {
	display: grid;
}

.inlineGrid {
	display: inline-grid;
}

.grid,
.inlineGrid {
	gap: var(--grid-gap);
	row-gap: var(--grid-row-gap, var(--grid-gap));
	column-gap: var(--grid-column-gap, var(--grid-gap));
	grid-template-columns: 1fr;

	&.oneColumnOnMobile {
		@include respond-to(md) {
			@supports (--grid-columns: 1) {
				grid-template-columns: var(--grid-columns);
			}
		}
	}
}
