.header {
	--padding: 20px;
	--gap: 10px;

	display: flex;
	flex-direction: column;
	gap: var(--gap);
	padding: var(--padding) 0;

	.title {
		color: var(--page-title-color);

		h1 {
			font-size: clamp(2.6rem, 6vw, 4.2rem);
		}

		h2 {
			font-size: clamp(2.3rem, 5.5vw, 3.8rem);
		}

		h3 {
			font-size: clamp(2rem, 5vw, 3.2rem);
		}

		h4 {
			font-size: clamp(1.7rem, 4.5vw, 2.6rem);
		}

		h5 {
			font-size: clamp(1.4rem, 4vw, 2rem);
		}

		h6 {
			font-size: clamp(1.1rem, 3.5vw, 1.6rem);
		}
	}

	.description {
		color: var(--page-description-color);
		font-size: clamp(1rem, 2.8vw, 1.1rem);
	}
}
