@use '../../../styles/mixins' as *;

.logoLink {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.1rem;
	font-weight: 600;
	text-align: center;
}

.text {
	display: block;

	&.hidden {
		display: none;

		@include respond-to(md) {
			display: block;
		}
	}
}
