@use '../../../../../styles/mixins' as *;

.collectionFormProduct {
}

.modalContent {
	width: 90vw;
	height: 80vh;
}

.body {
	overflow-y: auto;
	padding: 20px;
}

.grid {
	--grid-columns: 1fr;

	@include respond-to(md) {
		--grid-columns: repeat(2, 1fr);
	}

	@include respond-to(lg) {
		--grid-columns: repeat(3, 1fr);
	}

	@include respond-to(xl) {
		--grid-columns: repeat(4, 1fr);
	}
}
