.shop-card {
	background-color: var(--shop-card-bg);
	border: 1px solid var(--shop-card-border);
	padding: 1rem;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;

	&__image-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;

		& img {
			object-fit: contain;
			user-select: none;
		}
	}

	&__price {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.5rem;
		font-size: 1.1rem;
		font-weight: 700;
		position: relative;

		&:has(.shop-card__price-discounted) {
			.shop-card__price-original {
				text-decoration: line-through;
				color: var(--shop-card-price-original);
				font-weight: 400;
				font-size: 0.9rem;
				position: absolute;
				top: -0.5rem;
			}
		}
	}

	&__price-discounted {
		color: var(--shop-card-price-discounted);
	}

	&__actions {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 1.25rem;
	}
}
