.primary {
	color: var(--text-primary);
}

.secondary {
	color: var(--text-secondary);
}

.success {
	color: var(--text-success);
}

.error {
	color: var(--text-error);
}

.muted {
	color: var(--text-muted);
}

.inherit {
	color: inherit;
}
