@use '../../../styles/mixins' as *;

.info {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 80px;
}

.table {
	width: 100%;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(1, 1fr);

	@include respond-to(md) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.row {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid var(--divider-color);
	padding: 4px 10px;

	&:last-child {
		border-bottom: none;
	}
}

.name {
	color: var(--page-description-color);
}

.value {
	color: var(--page-title-color);
}
