@use '../../../../../styles/mixins' as *;

.nav-container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	flex: 1;

	&__container {
		display: flex;
		align-items: center;
		gap: 15px;
	}

	@include respond-to(md) {
		justify-content: space-between;

		&__empty {
			display: none;
		}
	}
}
