@use '../../../styles/mixins' as *;

.dashboard {
	margin-top: 0.625rem;
	padding-bottom: 7.5rem;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.content {
	display: grid;
	gap: var(--dashboard-gap);
	grid-template-columns: 1fr;

	@include respond-to(md) {
		grid-template-columns: 12.5rem 1fr;
	}

	@include respond-to(lg) {
		grid-template-columns: 17.5rem 1fr;
	}
}
