@use '../../../styles/mixins' as *;

.profile-skeleton {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}

.profile-skeleton__statistics {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;

	span {
		flex: 1 0 100%;

		@include response(md) {
			flex: 1 0 calc(50% - 10px);
		}
	}
}
