@use '../../../../styles/mixins' as *;

.how-it-works-item {
	margin-top: unset;
	background-color: var(--how-it-works-bg);
	width: 100%;
	padding: 1.25rem;
	border-radius: 0.75rem;

	&__step {
		font-size: 5rem;
		text-align: start;
		color: var(--how-it-works-step-color);
		opacity: 0.4;
		user-select: none;
	}

	@include respond-to(md) {
		max-width: 14.375rem;
		margin-top: calc(var(--i, 0) * 1.25rem);
	}
}
