.profile-main-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-main-info__avatar-image {
	border-radius: 50%;
	border: 1px solid var(--avatar-border);
	user-select: none;
}

.profile-main-info__username {
	text-align: center;
}

.profile-main-info__buttons {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}
