.menu {
	position: absolute;
	right: 0;
	background-color: var(--dropdown-bg);
	z-index: 90;
	padding: 0.25rem;
	border-radius: 8px;
	min-width: 9.375rem;

	&.up {
		top: auto;
		bottom: 100%;
	}

	&.down {
		top: 100%;
		bottom: auto;
	}
}

.menuItem {
	text-align: start;
	justify-content: start;
	padding: 0.75rem 0.375rem;
}
