.sleep-timer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sleep-timer-time-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sleep-timer-time {
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  color: #fff;
  display: flex;
  width: 100%;
  color: var(--timer-color);

  @media screen and (max-width: 450px) {
    gap: 5px;
  }

  .sleep-timer-time-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;

    .sleep-timer-time-item-time {
      font-size: 40px;
      font-weight: 700;
      width: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      background-color: var(--timer-bg);
      border-radius: 10px;
      width: 100%;

      @media screen and (max-width: 450px) {
        font-size: 25px;
        height: 80px;
      }
    }
  }
}

.sleep-timer-control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

@keyframes fade-in {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes fade-out {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
