@use '../../../styles/mixins' as *;

.buttons {
	display: flex;
	flex-direction: row;
	gap: 0.625rem;
}

.button {
	width: 100%;

	@include respond-to(md) {
		width: unset;
	}
}

.list {
	padding-top: 1.25rem;
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
}

.empty {
	text-align: center;
}
