@use '../../../../styles/mixins' as *;

.item {
	display: flex;
	justify-content: space-between;
	gap: 1.25rem;
	flex-direction: column;
	border: 1px solid var(--input-border);
	padding: 0.625rem;
	border-radius: 12px;

	@include respond-to(md) {
		flex-direction: row;
	}

	.user {
		display: flex;
		align-items: center;
		gap: 0.625rem;
	}

	.actions {
		display: flex;
		gap: 0.625rem;
	}
}
