@use '../../../styles/mixins' as *;

.field {
	--mobile-direction: column;

	width: 100%;
	display: flex;
	flex-direction: var(--mobile-direction);
	gap: 10px;
	border: 1px solid var(--settings-item-border);
	background-color: var(--settings-item-bg);
	border-radius: 6px;
	padding: 10px;
	font-size: 1.1rem;

	@include respond-to(md) {
		flex-direction: row;
		align-items: center;
	}
}

.label {
	flex: 1 1 100%;
}
