@use '../../../../styles/mixins' as *;

.navContainer {
	@include respond-to(md) {
		justify-content: flex-end;
	}

	@include respond-to(lg) {
		justify-content: space-between;
	}
}

.menuButton {
	@include respond-to(md) {
		display: inherit;
	}

	@include respond-to(lg) {
		display: none;
	}
}

.logo {
	display: none;

	@include respond-to(lg) {
		display: flex;
	}
}

.nav {
	display: none;
	align-items: center;

	@include respond-to(lg) {
		display: flex;
	}
}

.auth {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 32px;
}
