PORT=3000
MONGODB_URI="mongodb+srv://<db_user>:<db_password>@cluster0.cdrfu.mongodb.net/<db_name>?retryWrites=true&w=majority&appName=Cluster0"
SESSION_SECRET=your_session_secret
CLIENT_URL="http://localhost:5173"
