PORT=3000
MONGODB_URI="mongodb+srv://<db_user>:<db_password>@cluster0.cdrfu.mongodb.net/<db_name>?retryWrites=true&w=majority&appName=<db_app_name>"
SESSION_SECRET=your_session_secret
CLIENT_URL="http://localhost:5173"
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port
REDIS_PASSWORD=your_redis_password
ONLY_ADMIN=false
REGISTER_DISABLED=false
