.tab {
	display: block;
	padding: 0.625rem 1.25rem;
	position: relative;

	&::after {
		position: absolute;
		content: '';
		width: 100%;
		left: 0;
		bottom: 0;
		height: 3px;
		background-color: var(--settings-tabs-item-bg);
		transition: background-color 0.3s ease;
	}

	&.active {
		&::after {
			background-color: var(--settings-tabs-item-bg-active);
		}
	}
}
