@use '../../../styles/mixins' as *;

.summary {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	padding: 10px 0;

	@include respond-to(md) {
		align-items: center;
		flex-direction: row;
	}
}

.summary__buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;

	@include respond-to(md) {
		flex-direction: row;
	}
}
