@use '../../../styles/mixins' as *;

.summary {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.625rem;
	padding: 0.625rem 0;

	@include respond-to(md) {
		align-items: center;
		flex-direction: row;
	}
}

.buttons {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;

	@include respond-to(md) {
		flex-direction: row;
	}
}
