.resetPassword {
	padding-top: 3.75rem;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	gap: 1.25rem;
	max-width: 31.25rem;
	width: 100%;
}

.header {
	margin-top: 0.625rem;
	margin-bottom: 1.875rem;
}
