@use '../../../../styles/mixins' as *;

.modalContent {
	width: 90%;

	@include respond-to(md) {
		width: 80%;
	}
}

.tabs {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	padding-bottom: 1.25rem;
}
