@use '../../../../styles/mixins' as *;

.card {
	background-color: var(--profile-stat-card-bg);
	border: 1px solid var(--profile-stat-card-border);
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.375rem;
	flex: 1 0 100%;
	padding: 0.625rem;
	text-align: center;

	@include respond-to(md) {
		flex: 1 0 calc(50% - 0.625rem);
	}
}

.title {
	font-size: 1.5rem;
	font-weight: 600;
}
