.button {
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid transparent;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	user-select: none;
	font-size: 1rem;
	width: fit-content;

	&:focus-visible {
		outline: none;
	}
}

.loader {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}
