@use '../../styles/mixins' as *;

.main {
	display: flex;
	flex-direction: row;
	gap: 1.25rem;
	min-height: calc(100dvh - var(--header-height));
}

.content {
	width: 100%;
	padding: 0 1.25rem;

	@include respond-to(xl) {
		padding: 0 1.25rem 0 0;
	}
}
