.chart-wrapper {
	width: 100%;
	height: 400px;
	outline: none !important;
}

.sleep-chart {
	border: 1px solid #3b4754;
	padding: 20px 10px 20px 10px;
	border-radius: 10px;

	@media screen and (max-width: 768px) {
		padding: 10px;
	}

	@media screen and (max-width: 500px) {
		padding: 3px;
	}
}

.sleep-chart-title-container {
	display: flex;
	flex-direction: column;
	gap: 2px;
	padding: 20px 30px 30px 15px;

	.sleep-chart-title {
		font-size: 16px;
	}

	.sleep-chart-subtitle {
		font-size: 20px;
		font-weight: 600;
	}
}
