@use '../../../styles/mixins' as *;

.summary {
	margin-top: 0.625rem;
}

.header {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	width: 70%;
	padding: 1.25rem 0;

	@include respond-to(sm) {
		width: 60%;
	}

	@include respond-to(md) {
		width: 50%;
	}

	@include respond-to(lg) {
		width: 35%;
	}

	@include respond-to(xl) {
		width: 25%;
	}
}

.item {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 0.9375rem;
	justify-content: space-between;
	flex: 1 0 100%;
	border: 1px solid var(--challenge-list-item-border);
	padding: 0.625rem;
	border-radius: 9px;

	@include respond-to(md) {
		flex-direction: row;
	}
}

.itemLoader {
	height: 8.125rem;

	@include respond-to(md) {
		height: 4.5rem;
	}
}

.info {
	display: flex;
	flex-direction: column;
	gap: 0.3125rem;
}

.status {
	display: flex;
	justify-content: center;
	align-items: center;

	.completed {
		opacity: 0.9;
	}
}
