@use '../../../styles/mixins' as *;

.notifications {
	&__container {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 12px;
		overflow-y: auto;
	}
}
