.completed-day {
	color: var(--calendar-comleted);
}

:global(.rdp-root) {
	--rdp-accent-color: var(--calendar-accent);
	--rdp-selected-border: none;
	--rdp-today-color: var(--calendar-today);
}

:global(.rdp-today) {
	font-weight: 700;

	&:global(.rdp-selected) {
		color: var(--calendar-today-active);
	}
}

:global(.rdp-selected) {
	background-color: var(--calendar-selected);
	color: var(--calendar-selected-color);
	outline: none;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
