.avatar {
	position: relative;
	user-select: none;
	border-radius: 50%;

	.avatar__skeleton {
		position: absolute;
		top: -1px;
	}

	&__image {
		border-radius: 50%;
		object-fit: cover;
		border: 1px solid var(--avatar-border);
	}
}
