@use "../../../styles/mixins" as *;

.input-wrapper {
  @include field-wrapper;
  .input {
    @include field-default;
    font-size: 16px;

    &.error {
      outline: 1px solid red;
      outline-offset: -1px;
    }

    &.fullwidth {
      width: 100%;
    }

    &.textarea {
      resize: none;
    }
  }
}
