@use '../../../../styles/mixins' as *;

.container {
	justify-content: center;
	align-items: center;
	gap: 0.3125rem;
	font-size: 1.25rem;
	color: var(--timer-color);
	display: flex;
	flex-direction: row;
	width: 100%;

	@include respond-to(md) {
		gap: 1.25rem;

		.value {
			font-size: 2.5rem;
			height: 6.25rem;
		}
	}
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.625rem;
	width: 100%;

	@include respond-to(md) {
		max-width: 18.75rem;
	}

	.value {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 5rem;
		font-size: 1.5625rem;
		font-weight: 700;
		background-color: var(--timer-bg);
		border-radius: 10px;

		@include respond-to(lg) {
			font-size: 1.875rem;
		}
	}
}

.loader {
	width: 100%;
}
