html.dark {
	/* General Colors */
	--bg-body: #0a0a0a;
	--bg-header: #0b0b0b;
	--header-border-color: #7a7a7a30;
	--secondary-color: #b9bec3;

	/* Navigation */
	--nav-color-link: #a3a3a3;
	--nav-color-link-active: #ffffff;
	--nav-color-link-hover: #ffffff;
	--nav-bg-menu: #161616;
	--nav-button-bg: #dfdfdf;

	/* Features */
	--feature-item-bg: #131313;
	--feature-item-icon-bg: #18191b;

	/* How it works */
	--how-it-works-bg: #131313;
	--how-it-works-step-color: #8e949c;

	/* FAQ */
	--faq-question-bg: #131313;

	/* CTA */
	--cta-bg: #121417;

	/* Auth Pages */
	--auth-bg-login: #7a7a7a;
	--auth-bg-register: #335c81;
	--auth-bg-logout: #6e8387;
	--auth-color-login: #00132d;
	--auth-color-register: #fcfafa;
	--auth-color-logout: #fcfafa;
	--auth-container-bg: #333;
	--auth-text: #fff;
	--auth-field-bg: #494949;
	--auth-field-color: #fff;
	--auth-btn-bg: #335c81;
	--auth-btn-color: #f6f6f6;
	--auth-btn-bg-hover: #040f0f;

	/* Timer */
	--timer-bg: #191a1b;
	--timer-color: #ffffff;

	/* Profile */
	--profile-stat-card-bg: #151515;
	--profile-stat-card-border: #333;

	/* Charts */
	--chart-bg: #20262d;
	--chart-tooltip-bg: #161616;
	--chart-tooltip-border: #545454;
	--chart-stroke: #9dabb9;
	--chart-border: #333;

	/* Day Cards */
	--day-card-bg: #111214;
	--day-card-color: #fff;

	/* Theme */
	--theme-btn-color: #fff;

	/* Challenges */
	--challenge-list-item-bg: #141313;
	--challenge-list-item-color: #fff;
	--challenge-list-item-border: #333;
	--challenge-card-bg: #141313;
	--challenge-card-border: #2d2d2d;
	--challenge-card-secondary-bg: #0e0e0e;
	--challenge-tag-bg: #201f1f;
	--challenge-tag-border: #2a2a2a;
	--challenge-tag-color: #fff;
	--challenge-tag-frozen-bg: rgba(147, 0, 10, 0.2);
	--challenge-tag-frozen-border: rgba(255, 179, 171, 0.3);
	--challenge-tag-frozen-color: #ffb4ab;
	--challenge-progress-bg: #201f1f;
	--challenge-progress-border: #2a2a2a;
	--challenge-progress-line-bg: #dfdfdf;
	--challenge-progress-line-bg-frozen: #ffb4ab;
	--challenge-token-bg: #1a1a1a;
	--challenge-token-border: #333;
	--challenge-detail-bg: #131313;
	--challenge-detail-border: #444748;
	--challenge-calendar-bg: #1a1a1a;
	--challenge-calendar-border: #333;
	--challenge-calendar-completed-bg: #e6e6e6;
	--challenge-calendar-completed-color: #000;
	--challenge-detail-error-bg: rgba(248, 215, 218, 0.05);
	--challenge-detail-error-border: #e67a85;

	/* Calendar */
	--calendar-accent: #e8edf2;
	--calendar-comleted: #91cb3e;
	--calendar-selected: #e5e5e5d4;
	--calendar-selected-color: #0d141c;
	--calendar-today: #acd6ff;
	--calendar-today-active: #0d141c;

	/* Sections */
	--bg-section: #333;

	/* Page Titles */
	--page-title-color: #ffffff;
	--page-description-color: #cdcecf;

	/* Settings */
	--settings-tabs-list-border: #333;
	--settings-tabs-item-bg: #383838;
	--settings-tabs-item-bg-active: #1a78e5;

	/* Settings Security */
	--settings-item-bg: #151515;
	--settings-item-border: #333;

	/* Sessions */
	--device-bg: #293038;
	--device-color: #ffffff;
	--terminate-all-color: #ff5252;

	/* Friends */
	--friend-add-bg: #0f0f10;

	/* Notifications */
	--notification-popup-bg: #161616;
	--notification-unread-bg: #1a1a1a;
	--notification-unread-border: #3b82f6;
	--notification-read-opacity: 1;
	--notification-read-gray-scale: 0;

	/* Balance */
	--balance-label-color: #c4cdda;
	--balance-border-rgb: 255, 255, 255;
	--balance-background-gradient-rgb: 255, 255, 255;
	--balance-shadow-rgb: 255, 255, 255;

	/* Inventory */
	--inventory-item-bg: #1a1a1a;
	--inventory-item-border: #333;
	--inventory-image-bg: #0d0d0d;
	--inventory-equipped-bg: #2a3a4e;
	--inventory-equipped-border: #415a75;

	/* Shop */
	--featured-carousel-bg: #c8dbde;
	--featured-carousel-gradient: radial-gradient(
		circle,
		rgba(136, 158, 165, 1) 1%,
		rgba(17, 19, 20, 1) 75%
	);
	--featured-text-color: #ffffff;
	--featured-bullet: #ffffff;
	--featured-arrow: #ffffff;
	--featured-button-bg: #e5e5e5;
	--featured-button-bg-hover: #e5e5e5d4;
	--featured-button-color: #171717;
	--featured-new-badge: #ff6467;
	--featured-through-price-color: #888888;
	--featured-banner-bg: #202529;
	--featured-banner-border: #333;
	--shop-card-bg: #1a1a1a;
	--shop-card-border: #333;
	--shop-filter-bg: #151515;
	--shop-filter-border: #333;

	/* Email Confirmation */
	--email-confirmation-icon-bg: #333;

	/* Legal */
	--legal-title: #fff;
	--legal-link: #58a6ff;
	--legal-subtitle: #d9d9d9;
	--legal-text: #d1d1d1;
	--legal-list-marker: #595959;
	--legal-border: #707070;

	/* Footer */
	--footer-bg: #151515;
	--footer-color: #fff;
	--footer-link-color: #797979;
	--footer-link-color-hover: #fff;
	--footer-logo-fill: #fff;

	/* Dashboard */
	--dashboard-card-bg: #1c1b1b;
	--dashboard-sleep-session-date-color: #fff;
	--dashboard-sleep-session-times-color: #c2c2c2;
	--dashboard-chart-bar-bg: #aeaeae;
	--dashboard-chart-bar-border: #ccc;
	--dashboard-chart-bar-bg-hover: #e0e0e0;
	--dashboard-chart-bar-border-hover: #bbb;

	/* Sleep End */
	--sleep-end-star-color: #f5c518;
	--sleep-end-time-bg: #1a1a1a;

	/* Cookie Consent */
	--cc-bg: #1a1a1a;
	--cc-primary-color: var(--text-primary);
	--cc-secondary-color: var(--text-secondary);
	--cc-btn-primary-bg: var(--btn-bg-contained);
	--cc-btn-primary-color: var(--btn-color-contained);
	--cc-btn-primary-border-color: var(--btn-bg-contained);
	--cc-btn-primary-hover-bg: var(--btn-bg-contained-hover);
	--cc-btn-primary-hover-color: var(--btn-color-contained);
	--cc-btn-primary-hover-border-color: var(--btn-bg-contained-hover);

	--cc-btn-secondary-bg: var(--btn-bg-secondary);
	--cc-btn-secondary-color: var(--btn-color-secondary);
	--cc-btn-secondary-border-color: var(--btn-bg-secondary);
	--cc-btn-secondary-hover-bg: var(--btn-bg-secondary-hover);
	--cc-btn-secondary-hover-color: var(--btn-color-secondary);
	--cc-btn-secondary-hover-border-color: var(--btn-bg-secondary-hover);

	--cc-separator-border-color: var(--border-color);

	--cc-toggle-on-bg: var(--switch-bg-checked);
	--cc-toggle-off-bg: var(--switch-bg);
	--cc-toggle-on-knob-bg: var(--switch-slider-bg-active);
	--cc-toggle-off-knob-bg: var(--switch-slider-bg);
	--cc-toggle-readonly-bg: var(--switch-bg-checked);
	--cc-toggle-readonly-knob-bg: var(--switch-slider-bg-active);

	--cc-cookie-category-block-bg: var(--bg-section);
	--cc-cookie-category-block-border: var(--border-color);
	--cc-cookie-category-block-hover-bg: var(--bg-option-hover);
	--cc-cookie-category-block-hover-border: var(--border-color);
	--cc-cookie-category-expanded-block-bg: var(--bg-option-selected);
	--cc-cookie-category-expanded-block-hover-bg: var(--bg-option-hover);
}
