html.dark {
	/* General Colors */
	--bg-body: #0a0a0a;
	--bg-header: #0b0b0b;
	--header-border-color: #7a7a7a30;
	--color-main-text: #ffffff;
	--secondary-color: #b9bec3;

	/* Loader */
	--loader-color: #ffffff;

	/* Skeleton */
	--skeleton-color: #131313;
	--skeleton-highlight: #18191b;

	/* Navigation */
	--nav-color-link: #ede6e3;
	--nav-color-link-active: #c6c7c4;
	--nav-color-link-hover: #71a2b6;
	--nav-bg-menu: #161616;
	--nav-button-bg: #dfdfdf;

	/* Features */
	--feature-item-bg: #131313;
	--feature-item-icon-bg: #18191b;

	/* How it works */
	--how-it-works-bg: #131313;
	--how-it-works-step-color: #8e949c;

	/* FAQ */
	--faq-question-bg: #131313;

	/* CTA */
	--cta-bg: #121417;

	/* Auth Pages */
	--auth-bg-login: #7a7a7a;
	--auth-bg-register: #335c81;
	--auth-bg-logout: #6e8387;
	--auth-color-login: #00132d;
	--auth-color-register: #fcfafa;
	--auth-color-logout: #fcfafa;
	--auth-container-bg: #333;
	--auth-text: #fff;
	--auth-field-bg: #494949;
	--auth-field-color: #fff;
	--auth-btn-bg: #335c81;
	--auth-btn-color: #f6f6f6;
	--auth-btn-bg-hover: #040f0f;

	/* Timer */
	--timer-bg: #191a1b;
	--timer-color: #ffffff;

	/* Profile */
	--profile-stat-card-bg: #151515;
	--profile-stat-card-border: #333;

	/* Pagination */
	--pagination-bg: #333;
	--pagination-color: #fff;
	--pagination-button-bg: #4c5b61;
	--pagination-button-color: #e8eef2;

	/* Charts */
	--chart-bg: #20262d;
	--chart-tooltip-bg: #161616;
	--chart-tooltip-border: #545454;
	--chart-stroke: #9dabb9;
	--chart-border: #333;

	/* Day Cards */
	--day-card-bg: #111214;
	--day-card-color: #fff;

	/* Theme */
	--theme-btn-color: #fff;

	/* Challenges */
	--challenge-list-item-bg: #333;
	--challenge-list-item-color: #fff;
	--challenge-list-item-border: #333;

	/* Inputs & Forms */
	--input-bg: #151515;
	--input-color: #fff;
	--input-border: #333;
	--input-border-focus: #737373;
	--input-border-error: #e7000b;
	--input-color-error: #f55d5d;

	/* Select */
	--bg-options: #151515;
	--bg-option-hover: #26262699;
	--border-options: #333;

	/* Button Variants */
	--btn-bg-contained: #e5e5e5;
	--btn-bg-contained-hover: #e5e5e5d4;
	--btn-color-contained: #171717;

	--btn-bg-secondary: #262626;
	--btn-bg-secondary-hover: #262626cc;
	--btn-color-secondary: #fafafa;

	--btn-bg-outlined: #ffffff26;
	--btn-bg-outlined-hover: #28282833;
	--btn-border-outlined: #ffffff26;
	--btn-border-outlined-hover: #ffffff66;
	--btn-color-outlined: #0d141c;

	--btn-bg-text-hover: #26262699;
	--btn-color-text: #e8edf2;

	--btn-color-link: #e5e5e5;

	--btn-danger-bg: #ff6467;
	--btn-danger-bg-hover: #ff6467b3;
	--btn-danger-color: #ffffff;

	/* Calendar */
	--calendar-accent: #e8edf2;
	--calendar-comleted: #91cb3e;
	--calendar-selected: #e5e5e5d4;
	--calendar-selected-color: #0d141c;
	--calendar-today: #acd6ff;
	--calendar-today-active: #0d141c;

	/* Modals */
	--modal-bg: #151515;
	--modal-color: #fff;

	/* Sections */
	--bg-section: #333;

	/* Dropdowns */
	--dropdown-bg: #191919;
	--dropdown-color: #000000;
	--dropdown-item-bg: #3d3d3d;
	--dropdown-item-color: #fff;
	--dropdown-item-bg-hover: #2d2d2d;

	/* Page Titles */
	--page-title-color: #ffffff;
	--page-description-color: #cdcecf;

	/* Settings */
	--settings-list-border: #333;
	--settings-item-bg: #383838;
	--settings-item-bg-active: #1a78e5;

	/* Settings Security */
	--settings-security-item-bg: #151515;
	--settings-security-item-border: #333;

	/* Avatar */
	--avatar-border: #333;

	/* Divider */
	--divider-color: #464646;

	/* Sessions */
	--device-bg: #293038;
	--device-color: #ffffff;
	--terminate-all-color: #ff5252;

	/* Friends */
	--friend-add-bg: #0f0f10;
}
