:root {
	/* General Colors */
	--bg-body: #ffffff;
	--bg-header: #ffffff;
	--header-border-color: #e5e8eb;
	--secondary-color: #464f58;
	--header-height: 4.375rem;

	/* Navigation */
	--nav-color-link: #808080;
	--nav-color-link-active: #000000;
	--nav-color-link-hover: #000000;
	--nav-bg-menu: #ececec;
	--nav-button-bg: #000;

	/* Features */
	--feature-item-bg: #f4f4f4;
	--feature-item-icon-bg: #e5e5e5;

	/* How it works */
	--how-it-works-bg: #f8f8f8;
	--how-it-works-step-color: #838a92;

	/* FAQ */
	--faq-question-bg: #f8f8f8;

	/* CTA */
	--cta-bg: #f0f4f8;

	/* Auth Pages */
	--auth-bg-login: #fcfafa;
	--auth-bg-register: #002e4e;
	--auth-bg-logout: #6e8387;
	--auth-color-login: #465362;
	--auth-color-register: #fcfafa;
	--auth-color-logout: #fcfafa;
	--auth-container-bg: #dddddd;
	--auth-text: #000000;
	--auth-field-bg: #cccccc;
	--auth-field-color: #040f0f;
	--auth-btn-bg: #00487c;
	--auth-btn-color: #f6f6f6;
	--auth-btn-bg-hover: #003a61;

	/* Charts */
	--chart-bg: #d9e6f3;
	--chart-tooltip-bg: #fdfeff;
	--chart-tooltip-border: #6e6e6e;
	--chart-stroke: #4c739a;
	--chart-border: #d9e6f3;

	/* Day Cards */
	--day-card-bg: #f0f0f0;
	--day-card-color: #000;

	/* Timer */
	--timer-bg: #e2e2e2;
	--timer-color: #0d141c;

	/* Profile */
	--profile-stat-card-bg: #f8f8f8;
	--profile-stat-card-border: #e1e1e1;

	/* Challenges */
	--challenge-list-item-bg: #efefef;
	--challenge-list-item-color: #000000;
	--challenge-list-item-border: #e1e1e1;
	--challenge-card-bg: #eeeeee;
	--challenge-card-border: #cecece;
	--challenge-card-secondary-bg: #ffffff;
	--challenge-tag-bg: #d5d4d4;
	--challenge-tag-border: #757575;
	--challenge-tag-color: #000000;
	--challenge-tag-frozen-bg: rgba(255, 218, 214, 0.2);
	--challenge-tag-frozen-border: rgba(186, 26, 26, 0.3);
	--challenge-tag-frozen-color: #ba1a1a;
	--challenge-progress-bg: #c7c7c7;
	--challenge-progress-border: #c6c6c6;
	--challenge-progress-line-bg: #272727;
	--challenge-progress-line-bg-frozen: #ba1a1a;
	--challenge-token-bg: #e1e1e1;
	--challenge-token-border: #c1c1c1;
	--challenge-detail-bg: #eeeeee;
	--challenge-detail-border: #e1e1e1;
	--challenge-detail-error-bg: rgba(248, 215, 218, 0.25);
	--challenge-detail-error-border: #e67a85;

	/* Calendar */
	--calendar-accent: #0d141c;
	--calendar-comleted: #4da84d;
	--calendar-selected: #0d141c;
	--calendar-selected-color: #ffffff;
	--calendar-today: #171717;
	--calendar-today-active: #ffffff;

	/* Sections */
	--bg-section: #e1e1e1;
	--color-section: #000000;

	/* Page Titles */
	--page-title-color: #0d141c;
	--page-description-color: #1d1d1e;

	/* Settings */
	--settings-tabs-list-border: #e1e1e1;
	--settings-tabs-item-bg: #c5c9ce;
	--settings-tabs-item-bg-active: #1a78e5;

	/* Settings Security */
	--settings-item-bg: #f8f8f8;
	--settings-item-border: #e1e1e1;

	/* Sessions */
	--device-bg: #e8edf2;
	--device-color: #0d141c;
	--terminate-all-color: #ff7979;

	/* Friends */
	--friend-add-bg: #f0f0f0;

	/* Notifications */
	--notification-popup-bg: #f6f6f6;
	--notification-unread-bg: #ffffff;
	--notification-unread-border: #2563eb;
	--notification-read-opacity: 1;
	--notification-read-gray-scale: 0;

	/* Balance */
	--balance-label-color: #393e46;
	--balance-border-rgb: 0, 0, 0;
	--balance-background-gradient-rgb: 0, 0, 0;
	--balance-shadow-rgb: 0, 0, 0;

	/* Inventory */
	--inventory-item-bg: #f4f4f4;
	--inventory-item-border: #e1e1e1;
	--inventory-image-bg: #ffffff;
	--inventory-equipped-bg: #d1e7ff;
	--inventory-equipped-border: #a3c4ff;

	/* Shop */
	--featured-carousel-bg: #e1e8eb;
	--featured-carousel-gradient: radial-gradient(
		circle,
		rgba(136, 158, 165, 1) 1%,
		rgba(17, 19, 20, 1) 75%
	);
	--featured-text-color: #ffffff;
	--featured-bullet: #ffffff;
	--featured-arrow: #ffffff;
	--featured-button-bg: #e5e5e5;
	--featured-button-bg-hover: #e5e5e5d4;
	--featured-button-color: #171717;
	--featured-new-badge: #ff6467;
	--featured-through-price-color: #888888;
	--featured-banner-bg: #eaf0f6;
	--featured-banner-border: #d1d1d1;
	--shop-card-bg: #f5f5f5;
	--shop-card-border: #d1d1d1;
	--shop-filter-bg: #f8f8f8;
	--shop-filter-border: #d1d1d1;

	/* Email Confirmation */
	--email-confirmation-icon-bg: #e1e1e1;

	/* Legal */
	--legal-title: #000;
	--legal-link: #1b1bd6;
	--legal-subtitle: #1d1d1e;
	--legal-text: #333;
	--legal-list-marker: #595959;
	--legal-border: #333;

	/* Footer */
	--footer-bg: #151515;
	--footer-color: #fff;
	--footer-link-color: #797979;
	--footer-link-color-hover: #fff;
	--footer-logo-fill: #fff;

	/* Dashboard */
	--dashboard-card-bg: #eeeeee;
	--dashboard-sleep-session-date-color: #0f0f0f;
	--dashboard-sleep-session-times-color: #1f1f1f;
	--dashboard-chart-bar-bg: #6b6b6b;
	--dashboard-chart-bar-border: #3e3e3e;
	--dashboard-chart-bar-bg-hover: #5f5f5f;
	--dashboard-chart-bar-border-hover: #3e3e3e;
	--dashboard-gap: 1rem;
	--dashboard-card-border-radius: 10px;

	/* Sleep End */
	--sleep-end-star-color: #f5c518;
	--sleep-end-time-bg: #f0f0f0;
}
