@use '../../../styles/mixins' as *;

.how-it-works__list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@include respond-to(md) {
		justify-content: center;
		flex-direction: row;
	}
}
