.calendar {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	max-width: 19.25rem;
	padding-bottom: 0.25rem;
}
