@use '../../../../styles/mixins' as *;

.add-friend__input-container {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.add-friend__btn {
		width: 100%;
	}

	@include respond-to(md) {
		flex-direction: row;

		.add-friend__btn {
			width: unset;
		}
	}
}
