@use '../../../../styles/mixins' as *;

.container {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.addButton {
		width: 100%;
	}

	@include respond-to(md) {
		flex-direction: row;

		.addButton {
			width: unset;
		}
	}
}
