@use '../../../../styles/mixins' as *;

.container {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;

	.addButton {
		.text {
			display: none;
		}

		@include respond-to(md) {
			.text {
				display: inline;
				padding-right: 0.3125rem;
			}
		}
	}
}
