html.dark {
	/* Scrollbar */
	--scrollbar-bg: #151515;
	--scrollbar-thumb: #4d4d4d;
	--scrollbar-thumb-hover: #666666;

	/* Table */
	--table-border: #262626;
	--table-header-text: #ededed;
	--table-header-bg: #151515;
}
