:root {
	/* Scrollbar */
	--scrollbar-bg: #f0f0f0;
	--scrollbar-thumb: #c1c1c1;
	--scrollbar-thumb-hover: #a1a1a1;

	/* Table */
	--table-border: #eaeaea;
	--table-header-text: #111111;
	--table-header-bg: #f7f7f7;
}
