.promotion {
	display: flex;
	justify-content: center;
	padding-top: 5rem;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 25rem;
	width: 100%;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
}

.button {
	height: 100%;
}
