.header {
  background-color: var(--bg-header);
  height: 60px;
  width: 100%;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}
