@use '../../../styles/mixins' as *;

.timer {
	padding: 1.875rem 0.625rem;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.timeContainer {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.control {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1.25rem;
	margin-bottom: 1.875rem;
}

@keyframes fade-in {
	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(1);
	}
}

@keyframes fade-out {
	from {
		transform: scaleY(1);
	}
	to {
		transform: scaleY(0);
	}
}
