@use '../../../styles/mixins' as *;

.timer {
	padding: 1.875rem 0.625rem;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.timer__time-container {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.timer__time-container-inner {
	justify-content: center;
	align-items: center;
	gap: 0.3125rem;
	font-size: 1.25rem;
	color: var(--timer-color);

	@include respond-to(md) {
		gap: 1.25rem;

		.timer__time-item-value {
			font-size: 2.5rem;
			height: 6.25rem;
		}
	}

	.timer__time-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.625rem;
		width: 100%;

		@include respond-to(md) {
			max-width: 18.75rem;
		}

		.timer__time-item-value {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 5rem;
			font-size: 1.5625rem;
			font-weight: 700;
			background-color: var(--timer-bg);
			border-radius: 10px;

			@include respond-to(lg) {
				font-size: 1.875rem;
			}
		}
	}
}

.timer__control {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1.25rem;
	margin-bottom: 1.875rem;
}

@keyframes fade-in {
	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(1);
	}
}

@keyframes fade-out {
	from {
		transform: scaleY(1);
	}
	to {
		transform: scaleY(0);
	}
}
