@use '../../../styles/mixins' as *;

.timer {
	padding: 30px 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.timer__time-container {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.timer__time-container-inner {
	justify-content: center;
	align-items: center;
	gap: 5px;
	font-size: 20px;
	color: var(--timer-color);

	@include respond-to(md) {
		gap: 20px;

		.timer__time-item-value {
			font-size: 40px;
			height: 100px;
		}
	}

	.timer__time-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		width: 100%;

		@include respond-to(md) {
			max-width: 300px;
		}

		.timer__time-item-value {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 80px;
			font-size: 25px;
			font-weight: 700;
			background-color: var(--timer-bg);
			border-radius: 10px;

			@include respond-to(lg) {
				font-size: 30px;
			}
		}
	}
}

.timer__control {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 30px;
}

@keyframes fade-in {
	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(1);
	}
}

@keyframes fade-out {
	from {
		transform: scaleY(1);
	}
	to {
		transform: scaleY(0);
	}
}
