.container {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
}

.content {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.9375rem;
}

.buyButton {
	background-color: var(--featured-button-bg);
	color: var(--featured-button-color);

	&:hover {
		background-color: var(--featured-button-bg-hover);
	}
}

.info {
	position: relative;

	&:has(.discountedPrice) {
		.price {
			text-decoration: line-through;
			color: var(--featured-through-price-color);
			font-size: 0.9rem;
			position: absolute;
			bottom: 1.0625rem;
			font-weight: 300;
		}
	}
}

.discountedPrice {
	font-weight: 700;
	color: var(--primary-color);
}
