@mixin input-base {
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 0 0.75rem;
	background-color: var(--input-bg);
	border: 1px solid var(--input-border);
	border-radius: var(--border-radius);
	width: 100%;
	height: 2.8125rem;
	gap: 0.3125rem;
	transition:
		border-color 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out;
	cursor: text;

	&:focus-within {
		border-color: var(--input-border-focus);
	}

	&.error {
		border-color: var(--input-border-error);
	}

	&.disabled {
		opacity: 0.6;
		pointer-events: none;
	}
}
