@use '../../../../styles/mixins' as *;

.settings-security-field {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 1px solid var(--input-border);
	background-color: var(--input-bg);
	border-radius: 6px;
	padding: 10px;
	font-size: 1.1rem;
}

.settings-security-field__label {
	flex: 1 1 100%;
}

.settings-security-field--important {
	background-color: rgba(132, 58, 58, 0.161);
	border: 1px solid rgb(240, 86, 86);
}

.settings-security-field__button {
	width: 100%;
}

@include response(md) {
	.settings-security-field {
		flex-direction: row;
		align-items: center;
	}

	.settings-security-field__button {
		width: auto;
	}
}
