@use "../../../styles/mixins" as *;

.select-wrapper {
  @include field-wrapper;

  .select {
    @include field-default;
    font-size: 16px;

    &.error {
      outline: 1px solid red;
      outline-offset: -1px;
    }

    &.fullwidth {
      width: 100%;
    }
  }
}
