@use '../../../styles/mixins' as *;

.chart-wrapper {
	width: 100%;
	height: 400px;
	outline: none !important;
}

.sleep-chart {
	border: 1px solid #3b4754;
	border-radius: 10px;
	padding: 3px;

	@include response(sm) {
		padding: 10px;
	}

	@include response(md) {
		padding: 20px 10px;
	}
}

.sleep-chart-title-container {
	display: flex;
	flex-direction: column;
	gap: 2px;
	padding: 20px 30px 30px 15px;

	.sleep-chart-title {
		font-size: 16px;
	}

	.sleep-chart-subtitle {
		font-size: 20px;
		font-weight: 600;
	}
}
