.item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 1.25rem;
	width: 100%;
}

.info {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.625rem;
}

.username {
	font-size: 1.05rem;
}
