@use "./variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  font-family: $roboto-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-body);
  color: var(--color-main-text);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

#root {
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 20px;
  background-color: var(--bg-section);
  border-radius: 8px;
}

.page {
  padding-top: 20px;
  padding-bottom: 50px;
}
