.challenges-list-item {
  flex: 1 0 calc(49% - 20px);
  padding: 15px;
  border: 1px solid var(--challenge-list-item-border);
  border-radius: 8px;

  @media screen and (max-width: 768px) {
    flex: 1 0 100%;
  }

  .challenges-list-item-info {
    display: flex;
    flex-direction: column;
    gap: 3px;

    .challenges-list-item-info-tag {
      color: var(--secondary-color);
      font-size: 16px;
    }

    .challenges-list-item-info-content {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .challenges-list-item-info-title {
        font-size: 20px;
      }

      .challenges-list-item-info-text {
        font-size: 16px;
        color: var(--secondary-color);
      }
    }

    .challenges-list-item-info-actions {
      padding-top: 10px;

      @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
      }
    }
  }
}
