.container {
	display: flex;
	flex-direction: column;
	gap: 6px;
	width: 100%;
	position: relative;
}

.label {
	font-size: 14px;
	font-weight: 500;
	color: var(--color-main-text);
}

.wrapper {
	display: flex;
	align-items: center;
	border: 1px solid var(--input-border);
	border-radius: 6px;
	background-color: var(--input-bg);
	padding: 4px 16px;
	min-height: 48px;
	transition: all 0.2s ease;
	cursor: text;

	&:focus-within {
		border-color: var(--input-border-focus);
		box-shadow: 0 0 0 1px var(--input-border-focus);
	}

	&--error {
		border-color: var(--input-error-border);
	}
}

.input {
	flex: 1;
	border: none;
	background: transparent;
	outline: none;
	font-size: 1rem;
	height: 100%;
	padding: 10px 6px;
	color: var(--color-main-text);

	&::placeholder {
		opacity: 0.5;
	}
}

.actions {
	display: flex;
	align-items: center;
	gap: 8px;
	flex-shrink: 0;
	position: absolute;
	right: 8px;
	background-color: var(--input-bg);
}

.error-message {
	font-size: 12px;
	color: var(--input-color-error);
}
